* {
    margin: 0;
}


.section-space1 {
    background-size: cover;
    background-position: center;
    height: 98vh;
    background-image: url('images/adriano-na-caixa-dagua.png');
}

.section-space1-mobile {
    display: none;
    background-size: cover;
    background-position: center;
    height: 98vh;
    background-image: url('images/IMG_20210825_133643_821.jpg');
}

#text1-space1 {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 35px;
    text-shadow: 1px 1px 2px red;
}

#text2-space1 {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    width: 60%;
    color: black;
    font-size: 35px;
    margin-top: 120px;
    text-shadow: 1px 1px 2px red;
    margin-left: 320px;
    
}

#text1-space1-mobile {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: wheat;
    font-size: 35px;
}

#text2-space1-mobile {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: wheat;
    font-size: 35px;
    text-shadow: 1px 1px 2px red;
}
